#inputs
{
	border: 2px solid;
  width: fit-content;
  padding: 4px;
}
.font
{

}
.size
{
  
}

#modified-text
{
  Font-family: "Times New Roman";
  Font-size: 16px;
}

#displayBlock
{
  border: 2px solid;
  width: fit-content;
  padding: 4px;
}
